/* default cascading style sheet used for HarrisData EIP Event Calendar  */

.mthopen, .mthopen a:link, .mthopen a:visited,
.mthcomp, .mthcomp a:link, .mthcomp a:visited,
.mthasgn, .mthasgn a:link, .mthasgn a:visited {
	background-color : transparent;
	text-align : left;
	white-space : nowrap;
}

li.mthlist, ul.mthlist {
	margin: 0px 0px 0px 1.1em;
	padding: 0;
}

.mthopen, .mthopen a:link, .mthopen a:visited {
	Color : Green;
	list-style-type : disc;
}

.mthcomp, .mthcomp a:link, .mthcomp a:visited {
	Color : Gray;
	list-style-type : square;
}

.mthasgn, .mthasgn a:link, .mthasgn a:visited {
	Color : Red;
	list-style-type : circle;
}

.weekopen, .weekopen a:link, .weekopen a:visited,
.weekcomp, .weekcomp a:link, .weekcomp a:visited,
.weekasgn, .weekasgn a:link, .weekasgn a:visited {
  background-color : transparent;
  text-align : left;
}

li.weekopen, li.weekcomp, li.weekasgn,
ul.weekopen, ul.weekcomp, ul.weekasgn {
	margin: 0;
	padding: 0;
}

.weekopen, .weekopen a:link, .weekopen a:visited {
	Color : Green;
	list-style-type : disc;
}

.weekcomp, .weekcomp a:link, .weekcomp a:visited {
	Color : Gray;
	list-style-type : square;
}

.weekasgn, .weekasgn a:link, .weekasgn a:visited {
	Color : Red;
	list-style-type : circle;
}

.caltime, .caltime a:link, .caltime a:visited {
  text-align : right;
  width : 4em;
  padding-right : 1em;
  font-size : x-small;
}

.legendopen, .legendcomp, .legendassign, .legendtime {
  font-size: 10pt;
  font-weight: bold;
  color : white;
  width : 22%;
}

.legendopen {
  background-color : #66CC66;
}

.legendcomp {
  background-color : #CCCCCC;
}

.legendassign {
  background-color : Red;
}

.legendtime {
  background-color : #0066CC;
}

