/* Cascading Style Sheet used for quickLinks */

/* quickLink Table */
.quickLinkTable {
	font-family: Arial, sans-serif;
	font-size: 8pt;
	width : 90%;
	text-align : center;
	vertical-align: middle;
	background-color: transparent;
	padding: 1px 1px 1px 1px;
	margin-bottom : 1em;
}

/* quickLink tabs */
.quickLinkTabs {
    width : 20%;
    height : 3ex;
    color : #0066CC;
    margin: 1ex 1ex 1ex 1ex;
}
.quickLinkTabs a:link, .quickLinkTabs a:visited {
    color : #0066CC;
    width: 100%;
    height: 100%;
    border: 1px solid white;
}
.quickLinkTabs a:hover {
    color : red;
    background-color: #F0F0F0;
    border: 1px solid #0066CC;
}
.quickLinkLoaded {
	width : 20%;
	height : 3ex;
	color : Red;
	margin: 1ex 1ex 1ex 1ex;
}
.quickLinkLoaded a:link, .quickLinkLoaded a:visited {
	color : Red;
	width: 100%;
	height: 100%;
	border: 1px solid white;
	font-weight : bold;
}
.quickLinkLoaded a:hover {
    color : red;
    background-color: #F0F0F0;
    border: 1px solid #0066CC;
}
.quickLinkTabsRed {
    width : 20%;
    height : 3ex;
    color : white;
    background-color : red;
    margin: 1ex 1ex 1ex 1ex;
}
.quickLinkTabsRed a:link, .quickLinkTabsRed a:visited {
    color : white;
    width: 100%;
    height: 100%;
    border: 1px solid red;
}
.quickLinkTabsRed a:hover {
    color : red;
    background-color: #F0F0F0;
    border: 1px solid red;
}

/* quickLinks top of form */

.quickLinksTop {
	text-align : right;
	float : right;
}

/* list */
ul.qllist, td.qllist  {
	vertical-align: top;
	white-space : nowrap;
}

li.qllist  {
    font-size: small;
    color : black;
    text-align : left;
    font-weight : bold;
    list-style-type : square;
}
