/* Default Style Sheet Used for Menu Display HDSMenu.css */

/* Class for whole menu bar */
.menu {
    background-color: #04BF87;
    width : 90px;
    padding : 0;
}

/* Class for menu table  */
.menutable {
    width: 100%;
    font-size: 8pt;
    font-family: Arial, sans-serif;
}

/* Class for portal level menus */
.menuURL {
    font-weight: bold;
    color: yellow;
    margin-left : -1ex;
    background-color: #0066CC;
    border-bottom: 1px solid #3399FF;
    padding : 0ex 0ex 0ex 2ex;
}

A.menuURL, A.menuURL:visited {
    border: none;
    color: yellow;
    padding: 0;
}

A.menuURL:hover  {
    color: white;
}

/* Class for currently selected portal */

.menuURLCurr {
    font-weight: bold;
    color: red;
    background-color: #EFEFEF;
    margin-left : -1ex;
    border-left: 1px solid #0066CC;
    border-right: 1px solid #0066CC;
    border-bottom: 1px solid #1076DC;
    padding : 0ex 0ex 0ex 2ex;
}

A.menuURLCurr, A.menuURLCurr:visited {
    border: none;
    color: red;
    padding: 0;
}

A.menuURLCurr:hover  {
    color: maroon;
}

/* Class for sub-menus */

.menusubURL {
    color: black;
    background-color: #87CEED;
    margin-left : -1ex;
    border-bottom: 1px solid #97DEFD;
    border-left: 1px solid #0066CC;
    border-right: 1px solid #0066CC;
    padding : 0ex 0ex 0ex 2ex;
}


A.menusubURL, A.menusubURL:visited {
    border: none;
    color: black;
    padding: 0;
}

A.menusubURL:hover  {
    color: red;
}

/* Class for menu elements with no links */

.menuNoURL {
    font-weight: bold;
    color: black;
    background-color: #EFEFEF;
    margin-left : -1ex;
    border-left: 1px solid #0066CC;
    border-right: 1px solid #0066CC;
    border-bottom: 1px solid #3399FF;
    padding : 0ex 0ex 0ex 2ex;
}

/* Class for pop-up menu on mouseover search */

.srchMenu {
    position:absolute;
    font-size:x-small;
    background-color:#A7DBFB;
    border:1px solid;
}

.srchMenu a:link, .srchMenu a:visited {
    color: black;
}

.srchMenu a:hover {
    color: red;
}
