/* A/R Application Of Cash classes */

.ardiscpastdue{
    text-align: left;
    font-size : x-small;
    color : black;
    background-color : yellow;
    white-space : nowrap;
}

.arinvcpastdue{
    text-align: right;
    font-weight: normal;
    font-size: 9pt;
    padding: 0.5ex 0.5em 0.5ex 0.5em;
    color : black;
    background-color : yellow;
    white-space : nowrap;
}

.archargeinvoice{
    text-align: right;
    font-size: 9pt;
    padding: 0.5ex 1ex 0.5ex 1ex;
    border-right: 1px solid white;
    color : black;
    white-space : nowrap;
}

.ardeductioninvoice{
    text-align: right;
    font-size: 9pt;
    padding: 0.5ex 1ex 0.5ex 1ex;
    border-right: 1px solid white;
    color : orange;
    white-space : nowrap;
}

.arnsfinvoice{
    text-align: right;
    font-size: 9pt;
    padding: 0.5ex 1ex 0.5ex 1ex;
    border-right: 1px solid white;
    color : blue;
    white-space : nowrap;
}

.arserviceinvoice{
    text-align: right;
    font-size: 9pt;
    padding: 0.5ex 1ex 0.5ex 1ex;
    border-right: 1px solid white;
    color : green;
    white-space : nowrap;
}

.arunappliedinvoice{
    text-align: right;
    font-size: 9pt;
    padding: 0.5ex 1ex 0.5ex 1ex;
    border-right: 1px solid white;
    color : purple;
    white-space : nowrap;
}
