/* default cascading style sheet used for HarrisData EIP Event Calendar  */

.calheadertable {
  width : 100%;
  margin: 0em 0em 0em 0em;
}

.calselmth {
  font-size: 12pt;
  font-weight: bold;
  color : red;
  text-align : left;
  padding-right: 15px;
}

.calsearch {
  font-size: 12pt;
  font-weight: bold;
  color : black;
  text-align : right;
  padding-left: 15px;
  padding-right: 15px;
}

.calpastdue {
  font-size: 12pt;
  font-weight: bold;
  color : red;
  text-align : right;
}

.calmonthtable {
    width : 100%;
    margin: 0em 0em 0em 0em;
    padding: 0;
    border-top : 1px solid #0066CC;
    border-left : 1px solid #0066CC;
}

.mthselweek {
  width : 10px;
  vertical-align : middle;
  text-align : center;
  border-right: 1px solid #0066CC;
  border-bottom : 1px solid #0066CC;
}

.caldaytable {
  width : 100%;
}

.caltrailertable {
  width : 100%;
  margin: 0em 0em 0em 0em;
}

.calweektable {
  width : 100%;
  margin: 0em 0em 0em 0em;
  border : none;
}

.calweekeventtable {
  width : 100%;
  margin: 0em 0em 0em 0em;
}

.calmthday, .calmthtoday, .calothday {
	width : 10em;
	height : 6em;
	vertical-align : top;
	border-right: 1px solid #0066CC;
	border-bottom: 1px solid #0066CC;
	padding : 0.5ex 0.5ex 0.5ex 0.5ex;
}

.calmthday, .calmthday a:link, .calmthday a:visited,
.calmthtoday, .calmthtoday a:link, .calmthtoday a:visited,
.calothday, .calothday a:link, .calothday a:visited {
  font-size: 8pt;
}

.calmthtoday {
    background-color : #E0FFFF;
}

.calmthday {
    background-color : #FFFFE0;
}

.calothday {
  background-color : transparent;
}

.caldayhdr {
	font-size: 8pt;
	font-weight: bold;
	color : white;
	text-align : center;
	vertical-align: middle;
	background-color : #0066CC;
}

.calweekhdr {
    font-size: x-small;
    font-weight: bold;
    color : Yellow;
    text-align : right;
    vertical-align: middle;
    background-color : #0066CC;
    padding-bottom : 0em;
    padding-top : 0em;
    margin-bottom : 1ex;
    border : 1px solid white;
}

.calweekhdr a:link, .calweekhdr a:visited {
    font-size: x-small;
    font-weight: bold;
    color : Yellow;
    text-align : right;
    vertical-align: middle;
    background-color : #0066CC;
    padding-bottom : 0em;
    padding-top : 0em;
}

.calweekhdr a:hover {
    color : White;
}

.calmoremsg, .calmoremsg a:link, .calmoremsg a:visited {
  font-size:  8pt;
  color : black;
  text-align : right;
  white-space : nowrap;
}

.calyeartable {
  margin: 0em 0em 0em 0em;
  border-top : 1px solid #0066CC;
  border-left : 1px solid #0066CC;
  border-bottom : none;
  border-right : none;
}

.yrselweek, .yrselweek a:link, .yrselweek a:visited {
    font-size: 8pt;
    width : 4em;
    vertical-align : middle;
    white-space : normal;
    text-align : center;
    background-color : #EFEFEF;
    color : black;
    border-bottom : 1px solid #0066CC;
    border-right : 1px solid #0066CC;
    border-top : none;
    border-left : none;
}

.yrselweek a:link, .yrselweek a:visited {
  color : red;
  border : none;
}

.yrselweek a:hover {
  color : #0066CC;
}

.calyearday {
    width : 15em;
    vertical-align : top;
    font-size : xx-small;
    padding : 0ex 1ex 0ex 1ex;
    border-bottom : 1px solid #0066CC;
    border-right : 1px solid #0066CC;
    border-top : none;
    border-left : none;
    background-color : #FFFFE0;
}

.calyearday a {
    white-space: nowrap;
    font-size : xx-small;
}

.legendtitle {
  font-size: 10pt;
  font-weight: bold;
  color : Black;
  text-align : center;
  vertical-align: middle;
  background-color : transparent;
}
/* Additions for AJAX Calendar */

  .tabbedContentFrame  {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0px 10px 5px 10px;
  }
  .tabbedContent  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 3px solid #66FFFF;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: #FFFFF8;
    padding: 1ex 1ex 1ex 1ex;
    margin: 0;
  }
  .tabbedContentFrameChild  {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0px 10px 5px 10px;
  }
  .tabbedContentChild  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 3px solid #66FFFF;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: #FFFFF8;
    padding: 1ex 1ex 1ex 1ex;
    margin: 0;
  }
  .tabs {
    font-size: 8pt;
    font-weight: bold;
    margin: 10px 10px 0px 10px;
    padding: 0;
    border: none;
  }
  #tabs {
    width: 100%;
  }
  #tabsMajor {
    width: 100%;
  }
  .tabedge {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
    background-color: transparent;
  }
  #tableadedge {
    width: 1ex;
  }
  .tab {
    font-size: 8pt;
    width: 10ex;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #F0F0F0;
    color: #808080;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0.5ex 1ex 0.5ex 1ex;
  }
  #tabcurrent {
    color: red;
    background-color: White;
    border-bottom: 1px solid White;
    padding: 0.5ex 1ex 0.5ex 1ex;
  }
  .tab a {
    display: block;
    width: 15ex;
    margin: 0;
    padding: 0;
    color: black;
    border: none;
  }				
  .tab a:link {
    margin: 0;
    padding: 0.5ex 1ex 0.5ex 1ex;
    text-decoration: none;
  }				
  .tab a:visited {
    margin: 0;
    padding: 0.5ex 1ex 0.5ex 1ex;
    text-decoration: none;
  }				
  .tab a:hover {
    margin: 0;
    padding: 0.5ex 1ex 0.5ex 1ex;
    text-decoration: none;
    background-color: #FFFFCC;
  }
	  #m1Calendar {
	    margin: 0;
		padding: 0;
		}
	  #m1Calendar th {
	    font-family: arial, sans-serif;
		font-size: 10pt;
		color: white;
		background-color: #0066CC;
		width: 90px;
		}
	  #m1Calendar td {
	    background-color: #EAEAEA;
		width: 90px;
		height: 90px;
		vertical-align: top;
		}
	  #m1Calendar .m1control {
	    background-color: white;
		color: #0066CC;
		font-weight: bold;
		height: 1em;
		vertical-align: bottom;
		}
	  #m1Calendar .m1controlhead {
	    background-color: white;
		color: #0066CC;
		font-size: 18pt;
		font-weight: bold;
		text-align: center;
		height: 1em;
        width: 450px;
		}
	  #m1Calendar td .offMonth {
	    background-color: #FFFFCC;
		}
	  .m1Head  {
	    font-family: arial, sans-serif;
		font-size: 10pt;
		font-weight: bold;
		color: #0066CC;
		background-color: transparent;
		width: 2ex;
		text-align: right;
		}
	  #msgWait {
	    position: absolute;
		font-family: Arial, sans-serif;
		left: 30%;
		top: 40%;
	    visibility: hidden;
		z-index: 0;
		width: 30ex;
		height: 10ex;
		font-size: 12pt;
		color: #000066;
		background-color: #FFFFCC;
		border: 1px solid #000066;
        text-align: center;
        vertical-align: middle;
		padding: 4ex;
		}		