/* default cascading style sheet used for HarrisData EIP Event Calendar  */

body {
    font-family : Arial, Helvetica, sans-serif;
    margin : 0;
    padding : 0;
    background-color : #EFEFEF;
}

select {
	background-color : #EFEFEF;
	vertical-align : super;
}

.popupcaltable {
    background-color : #FFFFE0;
    border-left : 1px solid #0066CC;
    font-size: 10pt;
}

.popupcalrow {
	vertical-align : middle;
	text-align : center;
}

.popupcaltitle {
	font-weight: bold;
	color : red;
	width : 60%;
}

.popupcalselmthyr {
	width : 40%;
}

.popupcaldayhdr {
    color : White;
    background-color : #0066CC;
    font-size : xx-small;
}

.popupcalselmth {
    color : black;
    width : 2em;
    height : 2em;
    text-decoration : none;
    border-right: 1px solid #0066CC;
    border-bottom: 1px solid #0066CC;
}

.popupcalothmth {
    color : Gray;
    width : 2em;
    height : 2em;
    background-color : #EFEFEF;
    border-right: 1px solid #0066CC;
    border-bottom: 1px solid #0066CC;
}

.popupcalselmth a:link, .popupcalselmth a:visited {
    color : #0066CC;
    text-decoration : none;
    width : 100%;
    height : 100%;
}

.popupcalselmth a:hover {
    color : white;
    background-color : red;
    text-decoration : none;
    width : 100%;
    height : 100%;
    vertical-align : text-bottom;
}

.popupcalothmth a:link, .popupcalothmth a:visited {
    color : Gray;
    text-decoration : none;
    width : 100%;
    height : 100%;
}

.popupcalothmth a:hover {
    color : white;
    background-color : red;
    text-decoration : none;
    width : 100%;
    height : 100%;
    vertical-align : text-bottom;
}


