/* default cascading style sheet used for HarrisData EIP Employee Calendar  */

.mthworked, .mthworked a:link, .mthworked a:visited,
.mthnotwrk, .mthnotwrk a:link, .mthnotwrk a:visited,
.mthreview, .mthreview a:link, .mthreview a:visited,
.mthexcept, .mthexcept a:link, .mthexcept a:visited {
	background-color : transparent;
	text-align : left;
}

.mthworked, .mthworked a:link, .mthworked a:visited {
  Color : #00C020;
}

.mthnotwrk, .mthnotwrk a:link, .mthnotwrk a:visited {
  Color : #CCCCCC;
}

.mthreview, .mthreview a:link, .mthreview a:visited {
  Color : Red;
}

.mthexcept, .mthexcept a:link, .mthexcept a:visited {
  Color : Blue;
}

.weekworked, .weekworked a:link, .weekworked a:visited,
.weeknotwrk, .weeknotwrk a:link, .weeknotwrk a:visited,
.weekreview, .weekreview a:link, .weekreview a:visited,
.weekexcept, .weekexcept a:link, .weekexcept a:visited {
  background-color : transparent;
  text-align : left;
}

.weekworked, .weekworked a:link, .weekworked a:visited {
  Color : #00C020;
}

.weeknotwrk, .weeknotwrk a:link, .weeknotwrk a:visited {
  Color : #CCCCCC;
}

.weekreview, .weekreview a:link, .weekreview a:visited {
  Color : Red;
}

.weekexcept, .weekexcept a:link, .weekexcept a:visited {
  Color : Blue;
}

.legendworked, .legendnotwrk, .legendreview, .legendexcept {
  font-size: 10pt;
  font-weight: bold;
  color : white;
  width : 22%;
}

.legendworked {
  background-color : #00C020;
}

.legendnotwrk {
  background-color : #CCCCCC;
}

.legendreview {
  background-color : Red;
}

.legendexcept {
  background-color : Blue;
}
