/* default cascading style sheet used for HarrisData EIP HDSGeneral.css  */

/* General Page Formating */


BODY {
    font-size : small;
    font-family: Arial, Helvetica, sans-serif;
    color : black;
    background-color: white;
    margin : 0;
}

HR {
    width : 100%;
    text-align : left;
    height : 1px;
    color : #0066CC;
    background-color : #0066CC;
    border : none;
    margin-left: -1em;
}

P {
    margin: 1em 1em 1em 2em;
}

/* anchor elements set defaults for all links */

A:link, A:visited	{
    color: red;
    text-decoration: none;
}

A:hover {
    color: #0066CC;
}
		
/* head elements are used at the top of pages to clearly identify each generated page */

H1 {
	font-family: Verdana, Arial, sans-serif;
	font-size: 16pt;
	font-weight: normal;
	color: red;
	margin: 0 1em 0 0;
	white-space : nowrap;
}
			
H2 {
	font-family: Arial, sans-serif;
	font-size: 12pt;
	color: #0066CC;
	font-weight: bold;
	margin: 0;
	padding-left: 0.5em;
	white-space : nowrap;
}

H3 {
    font-size: 12pt;
    color: #FF0000;
    padding-left: 1em;
}
			
H4 {
    font-size: 10pt;
    color: #0066CC;
    padding-left: 1.5em;
}
			
H5 {
    font-size: 10pt;
    color: #FF0000;
    margin-bottom : 0;
    padding-left: 2em;
}

INPUT {
    font-size: 9pt;
    font-family : Arial, Helvetica, sans-serif;
}

SELECT {
    font-size: 9pt;
    font-family : Arial, Helvetica, sans-serif;
}

TEXTAREA {
    font-family: Lucida Console;
    font-size: 10pt;
    text-align: left;
}

/* Controls overall content area  */
.content {
    padding : 0em 0em 0em 1em;
    width : 710px;
}

/* Table attributes */
.basetable {
	margin: 0em 0em 0em 0em;
}

.contenttable{
	margin: 0em 0em 0em 0em;
	}

.quicksearchtable{
	margin: 0em 0em 1em 0em;
}

/* Controls form area  */
.formClass {
	margin-top : .1em;
	margin-bottom : .1em;
}

/* input elements on forms */
.input  {
    background-color : white;
    color : black;
    text-align : left;
}

/* Even row number formatting */
.evenrow  {
	background-color : #EEEEEE;
	white-space : nowrap;
}

/* Odd row number formatting */
.oddrow  {
    background-color : transparent;
    white-space : nowrap;
}
/* Selected row number formatting */
.selrow  {
    background-color : lime;
    white-space : nowrap;
}

/* selection header designates the style of headers for field names with single row views */
.dsphdr {
    color :#0066CC;
    text-align : right;
    padding-right: 1em;
    white-space : nowrap;
    font-size : 9pt;
}

th.dsphdr {
    color :#0066CC;
    text-align : left;
    white-space : nowrap;
    font-size : 9pt;
    font-weight : bold;
    border-bottom : 1px solid #0066CC;
    background-color : #FFFFEE;
}

th.grphdr {
    color :white;
    background-color :#0066CC;
	text-align : center;
	white-space : nowrap;
	font-size : 9pt;
	font-weight : bold;
    border-right: 1px solid white;
	border-bottom: 1px solid white;
}

/* displayselected designates the display of "sel"ected information from a single row */
.dspalph, .dspcode, .dspnmbr, .dspdate, .dsptotal {
     text-align: left;
     white-space : nowrap;
     padding-right : 1em;
     font-size : 9pt;
}

.dspalphchg, .dspcodechg, .dspnmbrchg, .dspdatechg, .dsptotalchg {
	text-align: left;
	white-space : nowrap;
	padding-right : 1em;
	font-size : 9pt;
	color : Red;
	font-weight : bold;
	border : 1px solid Black;
}

.dsptotal {
	text-decoration : overline;
	text-align : right;
	font-weight : bold;
}

.dsptotalph {
 	text-align : left;
	font-size: 9pt;
	border-top : 1px solid Black;
}

.dsptotnmbr {
	text-align : right;
	font-size: 9pt;
	padding: 0.5ex 1ex 0.5ex 1ex;
 	white-space : nowrap;
	border-top : 1px solid Black;
	border-right: 1px solid white;
}

.dsptothdr {
	text-align : left;
	font-size: 9pt;
	white-space : nowrap;
	border-top : 1px solid Black;
}

.dsptotvar {
	text-align : right;
	font-size: 9pt;
	border-top : 1px solid Black;
	background-color : yellow;
}

.dsptotvarhdr {
	text-align : left;
	font-size: 9pt;
	border-top : 1px solid Black;
	background-color : yellow;
}

.dspqty  {
	text-align: right;
	white-space : nowrap;
	padding-right : 1em;
	font-size : 9pt;
}

.dspdesc {
	font-size: 9pt;
	color : gray;
	padding-left: 1em;
}

/* tableheader designates the style of the column headers for multi-row tables */
.colhdr {
	font-size: 7pt;
	font-weight: bold;
	color : white;
	text-align : center;
	border-right: 1px solid white;
	vertical-align: bottom;
	background-color : #0066CC;
	padding: 0.5ex;
}

.colhdr a:link, .colhdr a:visited {
    color : white;
}

.colhdr a:hover {
    color : yellow;
}

/* tableheadersort designates the style of the column headers for multi-row tables with sequence attributes */
.colhdrsort {
	font-size: 7pt;
	color : red;
	text-align : center;
	border-right: 1px solid white;
	vertical-align: bottom;
	background-color : #87CEED;
	padding: 0.5ex;
}

/* rowdisplay designates the style of the rows of a multi-row tables */
.colalph, .colcode, .coldate, .colnmbr, .colnmbrneg, .colnmbrpos, .coltotal, .colicon, .coldel, .coltotvar {
    font-size: 9pt;
    padding: 0.5ex 1ex 0.5ex 1ex;
    white-space : nowrap;
    border-right: 1px solid white;
}
.colalph {
    text-align: left;
}

.coldate {
    text-align: right;
}

.colnmbr, .coltotal {
    text-align: right;
}

.colnmbrneg {
    text-align: right;
    padding-right: 0ex;
}

.colnmbrpos {
    text-align: right;
    padding-right: .75ex;
}

.colcode {
    text-align: center;
}

.coltotal {
    border-top : 1px solid black;
    background-color : white;
	font-weight: bold;
}

.colicon {
	white-space : nowrap;
	background-color : transparent;
}

.coldel {
	text-align: left;
	background-color : Red;
}
.coltotvar {
	text-align : right;
	background-color : yellow;
}

.opticon {
	white-space : nowrap;
}

.cmthdr {
	color: #A0A0A0;
	font-size: 9pt;
	padding: 0.5ex 1ex 0.5ex 1ex;
	white-space : nowrap;
	text-align : right;
}
.cmtdsp  {
	background-color : transparent;
	white-space : nowrap;
	border : 1px solid Black;
	font-size: 9pt;
	text-align : left;
	padding: 0.5ex 1ex 0.5ex 1ex;
}
.cmtdsp a:link, .cmtdsp a:visited {
    color: Black;
}
.cmtdsp a:hover {
	color : red;
}
.cmtnone  {
	background-color : transparent;
	white-space : nowrap;
	border : 1px solid Black;
	font-size: 9pt;
	text-align : left;
	padding: 0.5ex 1ex 0.5ex 1ex;
}
.cmtnone a:link, .cmtnone a:visited {
    color: #A0A0A0;
}
.cmtnone a:hover {
	color : red;
}

/* input is used to style the input boxes for a single row view */
.inputalph, .inputnmbr,.inputdate,.inputcode {
	text-align: left;
	font-size : 9pt;
	white-space : nowrap;
}

/* input is used to style the input boxes for a single row view */
.entry input {
	text-align: left;
	white-space : nowrap;
    background-color: #D7E5F2;
    font-size: 9pt;
    font-family : Arial, Helvetica, sans-serif;
}

/* toolbar */
.toolbar {
    white-space : nowrap;
    text-align : right;
}

/* "recselhdr" designates the style of the field names for single row views */
.hdrtitl {
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 10pt;
	color: #0066CC;
	text-align: right;
	padding-left: 0.5em;
	white-space : nowrap;
}

.hdrdata {
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 10pt;
	color: Black;
	text-align: left;
	padding-left: 0.5em;
	white-space : nowrap;
}

/* legend title ****************************************************************/

.legendTitle {
    font-family: Arial, sans-serif;
    font-size: 8pt;
    color : red;
    text-align : left;
    font-weight : bold;
    padding-bottom : 1ex;
}

/* legend sub-title */
.legendSubTitle {
    font-family: Arial, sans-serif;
    font-size: 8pt;
    color : black;
    text-align : left;
    font-weight : normal;
}

.legendTitleData {
    color : gray;
    padding-left : 1ex;
    font-weight: normal;
}

/* legend body */
.legendBody {
	border : 1px solid #0066CC;
	margin: 0 1em 0 0;
	padding: 1ex 1ex 1ex 1ex;
}

/* legend title features/options */
.legendTitleFO {
    font-family: Arial, sans-serif;
    font-size: 8pt;
    color : #D13C32;
    text-align : left;
    font-weight : bold;
}

/* legend body features/options */
.legendBodyFO {
    background-color : #FFFFEE;
    border-width :thin;
    color : Black;
}

/* legend sub-title features/options */
.legendSubTitleFO {
    font-family: Arial, sans-serif;
    font-size: 8pt;
    color : black;
    text-align : left;
    font-weight : normal;
}

/* legend sub-body features/options */
.legendSubBodyFO {
    background-color : white;
    border-width :thin;
    color : Black;
}

/* rowdisplay designates the style of the rows of a multi-row tables */
.colvcat {
    font-family: Arial, sans-serif;
    color : Blue;
    font-size: 9pt;
    padding: 0.5ex 1ex 0.5ex 1ex;
    white-space : nowrap;
    border-right: 1px solid white;
    text-align: left;
}
.selalph {
	font-family: Arial, sans-serif;
	color : black;
	font-size: 9pt;
	padding: 0.5ex 1ex 0.5ex 1ex;
	white-space : nowrap;
	border-right: 1px solid white;
	text-align: left;
	background-color : Lime;
}
.selvcat {
	font-family: Arial, sans-serif;
	color : Blue;
	font-size: 9pt;
	padding: 0.5ex 1ex 0.5ex 1ex;
	white-space : nowrap;
	border-right: 1px solid white;
	text-align: left;
	background-color : Lime;
}

/* messages ************************************************************************/

.error  {
	color : Red;
	text-align : left;
	font-size : smaller;
	font-weight : bold;
}

.accessError  {
    color : red;
    text-align : left;
    font-weight : bold;
}

.warning  {
	color : Red;
	text-align : left;
	font-size: 12pt;
	font-weight : bold;
}

/* confirmation message */
.confMsg		{
    color: #0066CC;
    font-weight : bold;
    font-size : 9pt;
}

/* Order Entry  ***************************************************************/

/* order entry price override */
.oepriceover {
    text-align: right;
    font-weight: normal;
    font-size: 9pt;
    padding: 0.5ex 0.5em 0.5ex 0.5em;
    color : Red;
    background-color : Yellow;
}

.oepriceover A:link, .oepriceover A:visited, .oepricover A:hover {
    text-align: right;
    font-weight: normal;
    font-size: 9pt;
    color : Red;
    background-color : Yellow;
}

.oeqtyavail{
    text-align: right;
    font-weight: normal;
    font-size: 9pt;
    padding: 0.5ex 0.5em 0.5ex 0.5em;
    color : black;
    background-color : #40FF20;
}

/* Drag/Drop  *****************************************************************/
#available {
	position: relative;
	top: 2px;
	border: 2px solid #0066CC;
}

#selected {
	position: relative;
	top: 2px;
	border: 2px solid #0066CC;
}

ul.sortable li {
	position: relative;
}

ul.boxy {
	list-style-type: none;
	padding: 3px 3px 0 3px;
	margin: 0px;
	width: 20em;
	font-size: 12px;
	font-family: Arial, sans-serif;
}

ul.boxy li {
	cursor:move;
	margin-bottom: 4px;
	padding: 2px 2px;
	border: 1px solid #ccc;
	border-color: #0066CC;
	background-color: #EEEEEE;
}


/* Miscellaneous  *************************************************************/

/* copyright notices */

.copr {
    font-size: 8pt;
    color: gray;
    text-align: left;
    padding-left: 1em;
}

/* portalmaintainselectionlist! */
.lc {
    font-family: "Lucida Console";
    font-size: 10pt;
    text-align: left;
}

/* search criteria */
.searchcriteria {
    font-size: 9pt;
    text-align: left;
    font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight : bold;
}

/* search hover */
.searchHover {
	position: absolute;
	background-color : #FFFFEE;
	padding: 2px 2px 2px;
	border : 3px solid #0066CC;
	visibility: hidden;
}

/* hdList quick search */
.quickSearch {
	vertical-align: top;
	font-size: 7pt;
	text-align : left;
	white-space : nowrap;
}

/* hdList checkbox */
.checkBox, .checkBoxCol {
	font-size: 7pt;
	text-align : left;
	vertical-align : bottom;
	white-space : nowrap;
}

/* hdList checkbox column*/
.checkBoxCol {
	text-align : center;
}
/* 'page 1 of xx' text */
.page {
	font-size: 7pt;
	text-align : left;
	vertical-align : bottom;
	white-space : nowrap;
}

/* Cant find reference to this class!!! */
.pageBottom {
	font-size: 9pt;
	text-align : left;
	padding : 1ex 0ex 0ex 0ex;
}

/* system date & time */
.datetime {
    font-size : 8pt;
    text-align : left;
}

/* character used to indicate required field */
.reqfield {
    color : #FF0000;
    text-align: left;
    font-weight : bold;
    font-size : 7pt;
}

/* Class for more info */
.moreInfo {
    position: absolute;
    width:auto;
    background-color : #FFFFE0;
    padding: 2px 2px 2px;
    border : 3px solid #0066CC;
    visibility: hidden;
    z-index: 1;
}
.moreInfoPos {
    position: absolute;
    top: 150px;
    left: 20px;
    width:auto;
    background-color : #FFFFE0;
    padding: 2px 2px 2px;
    border : 3px solid #0066CC;
    visibility: hidden;
}

.warningtext {
 	font-size: 10pt;
 	text-align: left;
 	color : black;
	font-weight : bold;
	background-color: Yellow;
}

/* Class for horizontal tool bar options */
.toolbarLP  {
    background-color : transparent;
    width : 100%;
    height : 1.75em;
    padding-top : 1em;
    padding-left : 1em;
    margin : 0em;
    list-style-type : none;
}
.optionLP  {
    width : 6em;
    height : 1.75em;
    line-height : 1.75em;
    text-align : center;
    vertical-align : middle;
    color : white;
    font-family : Arial, sans-serif;
    font-size : 10pt;
    font-weight : bold;
    background-color : #0066CC;
    border : 1px solid black;
    margin : 0em 1em 0em 0em;
}
li.optionLP  {
    display : inline;
    float : left;
}
.optionLP  a:link, .optionLP  a:visited {
    float : left;
    color : white;
    width : 100%;
    height : 100%;
}
.optionLP  a:hover {
    color : black;
    background-color : #FFFFE0;
}


/* Pricing & Availability Comments */
.pahtcmt {
	font-size: 9pt;
	text-align : center;
	padding: 1.5ex;
}
.paitemcmt {
	font-size: 11pt;
     font-weight : bold;
	text-align : left;
	padding-bottom: 1ex;
}
