/* General Ledger Drill Down classes */
BODY {
    font-family : Arial, sans-serif;
    font-size : x-small;
    color : black;
    background-color : white;
    margin : 1em 1em 1em 1em;
}


/* This section designates the Report Headings of Drill Down */
.glRptHdr1 {
    font-family: Verdana, Arial, sans-serif;
    font-size: 16pt;
    font-weight: normal;
    color: red;
    text-align: center;
    margin: 0 0 0 0;
}

.glRptHdr2 {
    font-family:  Arial, sans-serif;
    font-size: 12pt;
    color: black;
    text-align: center;
    font-weight: bold;
    margin: 0;
}

.glRptHdr3 {
    font-family:  Arial, sans-serif;
    font-size: 12pt;
    color: #0066CC;
    text-align: center;
    font-weight: normal;
    margin: 0;
    padding-bottom: 1em;
}

.glRptFormatPrint {
    font-family:  Arial, sans-serif;
    font-size: 12pt;
    color: black;
    text-align: right;
    font-weight: normal;
    margin: 0;
}

/* This section designates the Header/Comment Rows of Drill Down */
.glddcmt {
    text-align: left;
    font-weight: normal;
    padding-left: 1ex;
    white-space: nowrap;
}

.glddhdr {
    color : white;
    background-color: #0066CC;
    text-align: right;
    font-weight: bold;
    font-style : italic;
    white-space: nowrap;
}

.glddhdrspan {
    color : white;
    background-color: #0066CC;
    text-align: center;
    font-weight: bold;
    font-style : italic;
    white-space: nowrap;
}

/* This section designates the Total Rows of Drill Down */
.glddtothdr {
    font-size : x-small;
    text-align: left;
    font-weight: normal;
    border-top : 1px solid gray;
    padding-bottom: 1em;
    padding-left: 1ex;
    white-space: nowrap;
    padding-top : 1ex;
}

.glddtot {
    font-size : x-small;
    text-align: right;
    font-weight: normal;
    border-top : 1px solid gray;
    padding-bottom: 1ex;
    padding-left: 2ex;
    padding-right: 2ex;
    white-space: nowrap;
}

/* This section designates the Amount Rows of Drill Down */
.glddamthdr {
    font-size : x-small;
    text-align: left;
    font-weight: normal;
    padding-left: 1ex;
    padding-right: 1ex;
    white-space: nowrap;
}

A.glddamthdr:link {
    color: #0066CC;
}

A.glddamthdr:visited {
    color: #0066CC;
}

A.glddamthdr:hover {
    color: #FF0000;
}


.glddamt {
    font-size : x-small;
    text-align: right;
    font-weight: normal;
    padding-left: 1ex;
    padding-right: 1ex;
    white-space: nowrap;
}

A.glddamt:link {
    color: green;
}

A.glddamt:visited {
    color: #808080;
}

A.glddamt:hover {
    color: #FF0000;
}

.imgTree {
    padding: 0;
    margin-top: -0.5ex;
    margin-bottom: -0.5ex;
    margin-left: 0;
    margin-right: 0;
    height: 1.5em;
    vertical-align: middle;
    white-space: nowrap;
}
