/* Labor Entry Style Sheet HDSLaborEntry.CCS  */

/* labor entry */
.laborEntryTab {
    width : 4em;
    height : 6em;
    vertical-align: middle;
    color : white;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    text-align : center;
    background-color: #0066CC;
    border :  outset #0066CC;
}
.laborEntryTab a:link, .laborEntryTab a:visited {
    color : white;
    width: 100%;
    height: 100%;
    padding: 1em;
}
.laborEntryTab a:hover {
    color : #0066CC;
    background-color: white;
}
.laborEntryTab a:active {
    color : #0066CC;
    background-color: white;
    border :  inset #0066CC;
}

.laborEntryClear {
    width : 4em;
    height : 12em;
    vertical-align: middle;
    color : white;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    text-align : center;
    background-color: #0066CC;
    border : 1px solid #0066CC;
}
.laborEntryClear a:link, .laborEntryClear a:visited {
    color : white;
    width: 100%;
    height: 100%;
    padding: 1ex;
}
.laborEntryClear a:hover {
    color : #0066CC;
    background-color: white;
}

.laborEntryAccept {
    width : 8em;
    height : 4em;
    vertical-align: middle;
    color : white;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    text-align : center;
    background-color: #0066CC;
    border : 1px solid #0066CC;
}
.laborEntryAccept a:link, .laborEntryAccept a:visited {
    color : white;
    width: 100%;
    height: 100%;
    padding: 1ex;
}
.laborEntryAccept a:hover {
    color : #0066CC;
    background-color: white;
}

.laborEntryBack {
    width : 10em;
    height : 3em;
    vertical-align: middle;
    color : white;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    text-align : center;
    background-color: #0066CC;
    border : 1px solid #0066CC;
}
.laborEntryBack a:link, .laborEntryBack a:visited {
    color : white;
    width: 100%;
    height: 100%;
    padding: 1ex;
}
.laborEntryBack a:hover {
    color : #0066CC;
    background-color: white;
}

.laborEntryOn {
    width : 20em;
    height : 3em;
    vertical-align: middle;
    color : white;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    text-align : center;
    background-color: #00C000;
    border : 1px solid #00C000;
}
.laborEntryOn a:link, .laborEntryOn a:visited {
    color : white;
    width: 100%;
    height: 100%;
    padding: 1ex;
}
.laborEntryOn a:hover {
    color : #00C000;
    background-color: white;
}

.laborEntryOff {
    width : 20em;
    height : 3em;
    vertical-align: middle;
    color : white;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    text-align : center;
    background-color: #FF0000;
    border : 1px solid #FF0000;
}
.laborEntryOff a:link, .laborEntryOff a:visited {
    color : white;
    width: 100%;
    height: 100%;
    padding: 1ex;
}
.laborEntryOff a:hover {
    color : #FF0000;
    background-color: white;
}

.laborEntrySearch {
    width : 20em;
    height : 3em;
    vertical-align: middle;
    color : white;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    text-align : center;
    background-color: #0066CC;
    border : 1px solid #0066CC;
}
.laborEntrySearch a:link, .laborEntrySearch a:visited {
    color : white;
    width: 100%;
    height: 100%;
    padding: 1ex;
}
.laborEntrySearch a:hover {
    color : #0066CC;
    background-color: white;
}

