/* default cascading style sheet used for HarrisData EIP HDSMobile.css  */

/* head elements are used at the top of pages to clearly identify each generated page */

H2 {
	font-family: Arial, sans-serif;
	font-size: 12pt;
	color: #0066CC;
	font-weight: bold;
	white-space : nowrap;
}

.hdrdata {
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 10pt;
	color: Black;
	text-align: center;
	padding-left: 0.5em;
	white-space : nowrap;
}

/* selection header designates the style of headers for field names with single row views */
.dsphdr {
    color :#0066CC;
    text-align : right;
    padding-right: 1em;
    white-space : nowrap;
    font-size : 10pt;
    font-weight: bold;
}

/* rowdisplay designates the style of the rows of a multi-row tables */
.colalph, .colcode, .coldate, .colnmbr, .coltotal, .colicon {
    font-size: 10pt;
    padding: 0.5ex 1ex 0.5ex 1ex;
    white-space : nowrap;
    border-right: 1px solid white;
}