/* Touch Screen Style Sheet HDSTouchScreen.CCS  */


/* input elements on forms */
.input  {
    color : black;
    text-align : left;
    font-size : 14pt;
    white-space : nowrap;
}

input.bigcheck {
    height: 3em;
    width: 3em;
}

/* search criteria */
.searchcriteria {
    text-align: left;
    font-family : Arial, sans-serif;
    font-size : 14pt;
    font-weight : normal;
}

/* 'page 1 of xx' text */
.page {
    font-size: 14pt;
    text-align : left;
    margin: 0ex 0ex 1ex 0ex;
    padding : 0ex 0ex 0ex 0ex;
    vertical-align : bottom;
}
.pageBottom {
    font-size: 14pt;
	text-align : left;
    margin: 0ex 0ex 1ex 0ex;
	padding : 1ex 0ex 0ex 0ex;
    vertical-align : bottom;
}
img {
    width:  1.3em;
    height: 1.3em;
}

/* confirmation message */
.confMsg		{
    color: #0066CC;
    font-weight : bold;
    font-size : 14pt;
}

/* class for display headers */
.dsphdr {
    color :#0066CC;
    text-align : right;
    padding-right: 1em;
    white-space : nowrap;
    font-size : 14pt;
}
/* tableheader designates the style of the column headers for multi-record tables */
.colhdr {
    font-size: 12pt;
    font-weight: bold;
    color : white;
    text-align : center;
    border-right: 1px solid white;
    vertical-align: bottom;
    background-color : #0066CC;
    padding: 0.5ex;
    white-space : nowrap;
}

.colhdr a:link, .colhdr a:visited {
    color : white;
}

.colhdr a:hover {
    color : yellow;
}

/* tableheadersort designates the style of the column headers for multi-record tables with sequence attributes */
.colhdrsort {
    font-size: 12pt;
    color : red;
    text-align : center;
    border-right: 1px solid white;
    vertical-align: bottom;
    background-color : #87CEED;
    padding: 0.5ex;
}

/* rowdisplay designates the style of the rows of a multi-record tables */
.colalph, .colcode, .coldate, .colnmbr, .coltotal, .colicon, .coldel {
    font-size: 14pt;
    padding: 0.5ex 1ex 0.5ex 1ex;
    white-space : nowrap;
    border-right: 1px solid white;
}
.colalph {
    text-align: left;
}

.coldate {
    text-align: right;
}

.colnmbr, .coltotal {
    text-align: right;
}

.colcode {
    text-align: center;
}

/* displayselected designates the display of "sel"ected information from a single record */
.dspalph, .dspcode, .dspnmbr, .dspdate, .dsptotal {
    text-align: left;
    white-space : nowrap;
    padding-right : 1em;
    font-size : 14pt;
}

/* "recselhdr" designates the style of the field names for single record views */
.hdrtitl {
    font-size: 12pt;
    color: #0066CC;
    text-align: right;
    padding-left: 0.5em;
    white-space : nowrap;
}

.hdrdata {
    font-size: 12pt;
    color: Black;
    text-align: left;
    padding-left: 0.5em;
    white-space : nowrap;
}

/* quickLink Table */
.quickLinkTable {
    width: 50em;
}

/* quickLink tabs */
.quickLinkTabs {
    width : 8em;
    height : 2em;
    color : black;
    font-family : Arial, sans-serif;
    font-size : 14pt;
    font-weight : normal;
    background-color : #FFFFE0;
    border : 1px solid black;
    margin : 0em 0em 0em 1em;
}
.quickLinkTabs a:link, .quickLinkTabs a:visited {
    float : left;
    color : black;
    width : 8em;
    height : 2em;
}
.quickLinkTabs a:hover {
    color : #FFFFE0;
    background-color : black;
}

/* Class for more info */
.moreInfo {
    position: absolute;
    width:auto;
    background-color : #FFFFE0;
    padding: 2px 2px 2px;
    border : 3px solid #0066CC;
    visibility: hidden;
}
.moreInfoPos {
    position: absolute;
    top: 150px;
    left: 20px;
    width:auto;
    background-color : #FFFFE0;
    padding: 2px 2px 2px;
    border : 3px solid #0066CC;
    visibility: hidden;
}

/* Class for vertical tool bar */
.toolbarTS {
    padding : 0;
    margin : 0;
    list-style-type : none;
}

/* Class for vertical tool bar options */
.optionTS {
    width : 10em;
    height : 3em;
    line-height : 100%;
    text-align : center;
    color : black;
    font-family : Arial, sans-serif;
    font-size : 14pt;
    font-weight : normal;
    background-color : #FFFFE0;
    border : 1px solid black;
    margin : 1em;
}

.optionTS a:link, .optionTS a:visited {
    float : left;
    color : black;
    width : 100%;
    height : 100%;
}
.optionTS a:hover {
    color : #FFFFE0;
    background-color : black;
}

/* Class for vertical tool bar options */
.optionTS2 {
    width : 10em;
    height : 3em;
    line-height : 100%;
    text-align : center;
    color : #0066CC;
    font-family : Arial, sans-serif;
    font-size : 14pt;
    font-weight : normal;
    background-color : white;
    border : 1px solid black;
    margin : 1em;
}

.optionTS2 a:link, .optionTS2 a:visited {
    float : left;
    color : #0066CC;
    width : 100%;
    height : 100%;
}
.optionTS2 a:hover {
    color : #FFFFE0;
    background-color : black;
}

/* Cant find reference to this class!!! */
.pageBottomTS {
	display : block;
}

/* Class for horizontal tool bar */
.toolbarHTS {
    background-color : transparent;
    width : 100%;
    height : 3em;
    padding : 0;
    margin : 1em;
    list-style-type : none;
}

/* Class for horizontal tool bar options */
.optionHTS {
    width : 8em;
    height : 3em;
    line-height : 100%;
    text-align : center;
    vertical-align : middle;
    color : black;
    font-family : Arial, sans-serif;
    font-size : 14pt;
    font-weight : normal;
    background-color : #FFFFE0;
    border : 1px solid black;
    margin : 0em 0em 0em 1em;
}
li.optionHTS {
    display : inline;
    float : left;
}
.optionHTS a:link, .optionHTS a:visited {
    float : left;
    color : black;
    width : 100%;
    height : 100%;
}
.optionHTS a:hover {
    color : #FFFFE0;
    background-color : black;
}

/* Class for horizontal tool bar options */
.optionHTS2 {
    width : 8em;
    height : 3em;
    line-height : 100%;
    text-align : center;
    vertical-align : middle;
    color : #0066CC;
    font-family : Arial, sans-serif;
    font-size : 14pt;
    font-weight : normal;
    background-color : white;
    border : 1px solid black;
    margin : 0em 0em 0em 1em;
}
li.optionHTS2 {
    display : inline;
    float : left;
}
.optionHTS2 a:link, .optionHTS2 a:visited {
    float : left;
    color : #0066CC;
    width : 100%;
    height : 100%;
}
.optionHTS2 a:hover {
    color : #FFFFE0;
    background-color : black;
}

/* Class for labor entry tool bar */
.toolbarLTS {
    padding : 0;
    margin : 0;
    list-style-type : none;
}

/* Class for labor entry ON tool bar options */
.optionNTS {
    width : 10em;
    height : 3em;
    line-height : 100%;
    text-align : center;
    color : black;
    font-family : Arial, sans-serif;
    font-size : 14pt;
    font-weight : normal;
    background-color : #98FB98 ;
    border : 1px solid black;
    margin : 1em;
}

.optionNTS a:link, .optionNTS a:visited {
    float : left;
    color : black;
    width : 100%;
    height : 100%;
}
.optionNTS a:hover {
    color : #98FB98 ;
    background-color : black;
}

/* Class for labor entry OFF tool bar options */
.optionFTS {
    width : 10em;
    height : 3em;
    line-height : 100%;
    text-align : center;
    color : black;
    font-family : Arial, sans-serif;
    font-size : 14pt;
    font-weight : normal;
    background-color : #FFA07A ;
    border : 1px solid black;
    margin : 1em;
}

.optionFTS a:link, .optionFTS a:visited {
    float : left;
    color : black;
    width : 100%;
    height : 100%;
}
.optionFTS a:hover {
    color : #FFA07A ;
    background-color : black;
}

/* Class for required field */
.reqfieldTS {
    text-align : right;
    float : right;
}
span.reqfieldTS {
    color : #FF0000;
    font-weight : bold;
    font-size : xx-small;
}


/* Keyboard */
#keyboard {
    background-color: #808080;
    border: 1px solid black;
    height: 12.75em;
    width: 31.9em;
    position: absolute;
    visibility: hidden;
    top: 0px;
    left: 0px;
    zIndex: 0;
}
#numericKeyboard {
    background-color: #808080;
    border: 1px solid black;
    height: 10.75em;
    width: 16em;
    position: absolute;
    visibility: hidden;
    top: 0px;
    left: 0px;
    zIndex: 0;
}
.kbDiv {
    float: left;
    padding: 0;
    margin: 0;
    border: none;
}
.kbB {
    background-color: white;
    border: 1px solid #CCCCCC;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 18pt;
    color: #000080;
    float: left;
    height: 1.25em;
    width: 1.48em;
    margin:  .03em;
    padding: 0em;
    text-align: center;		
    vertical-align: middle;	
}
.nkbB {
    background-color: white;
    border: 1px solid #CCCCCC;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 18pt;
    color: #000080;
    float: left;
    height: 1.25em;
    width: 2.3em;
    margin: .03em;
    padding: 0em;
    text-align: center;		
    vertical-align: middle;	
}
.kbBalt {
    background-color: transparent;
    border: 1px solid #CCCCCC;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 18pt;
    color: white;
    float: right;
    height: 1.25em;
    width: 1.5em;
    margin: 1px;
    padding: 0em;
    text-align: center;		
    vertical-align: middle;	
}
#kbS1, #kbS2, #kbS3 {
    background-color: transparent;
    color: transparent;
    border: 1px solid transparent;
    width: 1.5em;
}

#kbP1, #kbP2, #kbP3 {
    background-color: transparent;
    color: transparent;
    border: 1px solid transparent;
    width: .77em;
}

#nkbS1 {
    background-color: transparent;
    color: transparent;
    border: 1px solid transparent;
    width: 3em;
}
.kbC 		{ clear: left; }
#kbSwitch 	{ width: 3em; }
#kbBack 	{ width: 3em; }
#nkbBack 	{ width: 3em; }
#kbCancel	{ width: 3em; }
#nkbCancel	{ width: 3em; }
#kbClear 	{ width: 3em; }
#nkbClear 	{ width: 3em; }
#kbShift 	{ width: 3em; }
#nkbShift 	{ width: 2em; }
#kbData  	{ width: 17.5em; color: black; background-color: #FFFFE0; border: 1px solid black;}
#nkbData  	{ width: 7.3em;  color: black; background-color: #FFFFE0; border: 1px solid black;}
#kbSpace 	{ width: 17.5em; }
#kbReturn 	{ width: 3em; }
#nkbReturn 	{ width: 3em; }
.kbText 	{ font-size: 12pt; }

#dtpDiv {
    width: 18.6em;
    font-family: Arial, sans-serif;
    font-size: 18pt;
    padding: 0;
    margin: 0;
    border: 1px solid #909090;
    text-align: center;
    visibility: hidden;
    position: absolute;
    background-color: #EEEEEE;
}
#dtpControl  {
    font-weight: bold;
    color: white;
    background-color: #0066CC;
    text-align: center;
}
.dtpControlHdr {
    width: 14em;
    float: left;
}
.dtpControlImgL {
    float: left;
    width: 1em;
    height: 1em;
    margin: 2px;
}
.dtpControlImgR {
    float: right;
    width: 1em;
    height: 1em;
    margin: 2px;
}
#dtpMonth {
    padding: 0;
    margin-top: 0;
    margin-left: 0.3em;
    margin-right: 0;
    margin-bottom: 0.3em;
}
#dtpMonth span {
    display: block;
    float: left;
    color: black;
    padding-top: 3px;
    margin: 0;
    width: 2.5em;
    text-align: center;
    border-right: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
}
#dtpMonth br {
    clear: left;
}
.dtpDay  {
    background-color: #FFFFCC;
    border: 1px solid #CCCCCC;
    font-weight: bold;
    font-size: 18pt;
    color: #000080;
    height: 1.25em;
    width: 1.8em;
    margin: 1px;
    padding: 0em;
    text-align: center;		
    vertical-align: middle;	
}
.dtpDayOld  {
    color: gray;
    background-color: #DDDDDD;
    border: 1px solid #CCCCCC;
    font-weight: bold;
    font-size: 18pt;
    color: #000080;
    height: 1.25em;
    width: 1.8em;
    margin: 1px;
    padding: 0em;
    text-align: center;		
    vertical-align: middle;	
}
.dtpDayNow  {
    background-color: #CCFFFF;
    border: 1px solid #CCCCCC;
    font-weight: bold;
    font-size: 18pt;
    color: #000080;
    height: 1.25em;
    width: 1.8em;
    margin: 1px;
    padding: 0em;
    text-align: center;		
    vertical-align: middle;	
}
.dtpDayCur  {
    background-color: #FFCC00;
    border: 1px solid #CCCCCC;
    font-weight: bold;
    font-size: 18pt;
    color: #000080;
    height: 1.25em;
    width: 1.8em;
    margin: 1px;
    padding: 0em;
    text-align: center;		
    vertical-align: middle;	
}
#dtpMonth .dtpDayHdr  {
    color: #0066CC;
    text-align: center;
    font-weight: bold;
    font-size: 12pt;
    width: 13.5%;
}	
